@using TMS.Models
@model LoginViewModel
@{

    //Layout = "~/Views/Shared/_LayoutLogin.cshtml";
    Layout = "";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" href="@Url.Content("~/mainlogo.jpg")" />
    
    <!--===============================================================================================-->
    @*<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">*@
    @Styles.Render("~/LoginScripts/vendor/bootstrap/css/bootstrap.min.css")
    <!--===============================================================================================-->
    @*<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">*@
    @Styles.Render("~/LoginScripts/fonts/font-awesome-4.7.0/css/font-awesome.min.css")
    <!--===============================================================================================-->
    @*<link rel="stylesheet" type="text/css" href="fonts/Linearicons-Free-v1.0.0/icon-font.min.css">*@
    @Styles.Render("~/LoginScripts/fonts/Linearicons-Free-v1.0.0/icon-font.min.css")
    <!--===============================================================================================-->
    @*<link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">*@
    @Styles.Render("~/LoginScripts/vendor/animate/animate.css")
    <!--===============================================================================================-->
    @*<link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">*@
    @Styles.Render("~/LoginScripts/vendor/css-hamburgers/hamburgers.min.css")
    <!--===============================================================================================-->
    @*<link rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css">*@
    @Styles.Render("~/LoginScripts/vendor/animsition/css/animsition.min.css")
    <!--===============================================================================================-->
    @*<link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">*@
    @Styles.Render("~/LoginScripts/vendor/select2/select2.min.css")
    <!--===============================================================================================-->
    @*<link rel="stylesheet" type="text/css" href="vendor/daterangepicker/daterangepicker.css">*@
    @Styles.Render("~/LoginScripts/vendor/daterangepicker/daterangepicker.css")
    <!--===============================================================================================-->
    @*<link rel="stylesheet" type="text/css" href="css/util.css">
        <link rel="stylesheet" type="text/css" href="css/main.css">*@
    @Styles.Render("~/LoginScripts/css/util.css")
    @Styles.Render("~/LoginScripts/css/main.css")
    <!--===============================================================================================-->
    <style>
        .text2 {
            color: darkred;
            font-weight: bold;
        }

        .text3 {
            color: navy;
            font-weight: bold;
            font-size: x-large;
        }

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
        }

        li {
            float: left;
        }

            li a {
                display: block;
                color: red;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
            }

                li a:hover {
                    background-color: #111;
                }
    </style>
</head>

<body>
 
    <div class="container-contact100" style="background-image: url('images/Nhcc2.jpg');">
        @*<img src="~/Views/Home/Nhcc2.jpg" />*@
        @*<img src="~/images/Nhcc2.jpg" />*@

        <div class="wrap-contact100">

            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "contact100-form validate-form", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @*<span class="contact100-form-title" style="color: darkred;font-weight: bold;">
                    National Housing And Construction Company Limited

                </span>*@

                <span class="contact100-form-title" style="color: darkred;font-weight: bold;">
                    National Housing and Construction Company

                </span>

                <p class="text3">Happy Homes Built To Last</p>
                <div style="width:100%;">
                    <img id="profile-img" class="profile-img-card" src="~/mainlogo.jpg" height="120" width="300" style="padding-left:35%;" />
                    <p id="profile-name" class="profile-name-card"></p>
                </div>

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.LabelFor(m => m.Email, new { @class = "label-input100" })
                <div class="wrap-input100">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Please enter your User Name" })
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    <span class="focus-input100"></span>
                </div>
                @Html.LabelFor(m => m.Password, new { @class = "label-input100", @placeholder = "Please enter your Password" })
                <div class="wrap-input100">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                </div>
                <div @*class="wrap-input100"*@ style="margin-top:10px; width:100%;">
                    @Html.CheckBoxFor(m => m.RememberMe)
                    @Html.LabelFor(m => m.RememberMe)
                </div>
                <br />
                <div class="container-contact100-form-btn">
                    <button class="contact100-form-btn">
                        Login
                    </button>
                </div>

                @*<div class="btn btn-lg btn-primary btn-block btn-signin">
                    <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Sign in</button>

                </div>*@

                <p>
                    @*@Html.ActionLink("Register as a new user", "Register")*@
                </p>
                @* Enable this once you have account confirmation enabled for password reset functionality
                <p>
                    @Html.ActionLink("Forgot your password?", "ForgotPassword")
                </p>*@
            }
            <div class="contact100-more flex-col-c-m" style="background-image: url('images/NHCC11.jpg');">
                <h1 class="text2"> <strong>Contact Us</strong> </h1>
                <div class="flex-w size1 p-b-47">
                    <div class="txt1 p-r-25">
                        <span class="lnr lnr-map-marker"></span>
                    </div>

                    <div class="flex-col size2">
                        <span class="txt1 p-b-20">
                            Address
                        </span>

                        <span class="txt2">

                            Plot 3/5 <br />
                            Seventh Street, Industrial Area<br />
                            P.O. Box 659<br />
                            Kampala<br />

                        </span>
                    </div>
                </div>

                <div class="dis-flex size1 p-b-47">
                    <div class="txt1 p-r-25">
                        <span class="lnr lnr-phone-handset"></span>
                    </div>

                    <div class="flex-col size2">
                        <span class="txt1 p-b-20">
                            Let's Talk
                        </span>

                        <span class="txt3">
                            +256 (0)312 119 300
                        </span>
                    </div>
                </div>

                <div class="dis-flex size1 p-b-47">
                    <div class="txt1 p-r-25">
                        <span class="lnr lnr-envelope"></span>
                    </div>

                    <div class="flex-col size2">
                        <span class="txt1 p-b-20">
                            General Support
                        </span>

                        <span class="txt3">
                            sales@nhcc.co.ug
                        </span>
                    </div>
                </div>
                <div class="dis-flex size1 p-b-47">
                    <div class="txt1 p-r-25">
                        @*<span class="lnr lnr-envelope"></span>*@
                    </div>

                    <div class="flex-col size2">
                        <span class="txt1 p-b-20">
                            Follow us on social platforms
                        </span>
                        <ul class="list-inline social-icon">
                            <li>
                                <a href="https://twitter.com/NHCC_UG" target="_blank"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="https://www.facebook.com/NationalHousing/" target="_blank"><i class="fa fa-facebook"></i></a>
                            </li>

                            <li>
                                <a href="https://www.youtube.com/channel/UCr4J99Bi6MYYWVwwbhQ1Wuw" target="_blank"><i class="fa fa-youtube"></i></a>
                            </li>
                        </ul>
                        @*<span class="txt3">
                            contact@example.com
                        </span>*@
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div id="dropDownSelect1"></div>

    <!--===============================================================================================-->
    @*<script src="vendor/jquery/jquery-3.2.1.min.js"></script>*@
    @Scripts.Render("~/LoginScripts/vendor/jquery/jquery-3.2.1.min.js")
    <!--===============================================================================================-->
    @*<script src="vendor/animsition/js/animsition.min.js"></script>*@
    @Scripts.Render("~/LoginScripts/vendor/animsition/js/animsition.min.js")
    <!--===============================================================================================-->
    @*<script src="vendor/bootstrap/js/popper.js"></script>
        <script src="vendor/bootstrap/js/bootstrap.min.js"></script>*@
    @Scripts.Render("~/LoginScripts/vendor/bootstrap/js/popper.js")
    @Scripts.Render("~/LoginScripts/vendor/bootstrap/js/bootstrap.min.js")
    <!--===============================================================================================-->
    @*<script src="vendor/select2/select2.min.js"></script>*@
    @Scripts.Render("~/LoginScripts/vendor/select2/select2.min.js")
    <script>
		$(".selection-2").select2({
			minimumResultsForSearch: 20,
			dropdownParent: $('#dropDownSelect1')
		});
    </script>
    <!--===============================================================================================-->
    @*<script src="vendor/daterangepicker/moment.min.js"></script>*@
    @Scripts.Render("~/LoginScripts/vendor/daterangepicker/moment.min.js")
    @*<script src="vendor/daterangepicker/daterangepicker.js"></script>*@
    @Scripts.Render("~/LoginScripts/vendor/daterangepicker/daterangepicker.js")
    <!--===============================================================================================-->
    @*<script src="vendor/countdowntime/countdowntime.js"></script>*@
    @Scripts.Render("~/LoginScripts/vendor/countdowntime/countdowntime.js")
    <!--===============================================================================================-->
    @*<script src="js/main.js"></script>*@
    @Scripts.Render("~/LoginScripts/js/main.js")
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
    <script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-23581568-13');
    </script>
    <script>
       $(function () {
           navigator.geolocation.getCurrentPosition(showPosition, positionError);
           function showPosition(position) {
               var coordinate = position.coords;
               var lat = "";
               var _long = "";
               //alert("Lat: " + coordinate.latitude + " Long: " + coordinate.longitude);
               $.ajax({

                   url: 'GeoCoodinates',
                   contentType: "application/json; charset=utf-8",
                   dataType: "json",
                   type: 'POST',
                   data: JSON.stringify({
                       'latitude': coordinate.latitude,
                       'longitude': coordinate.longitude}),
                   //data: {
                   //    //"lat": coordinate.latitude,
                   //    //"log": coordinate.longitude
                   //    'latitude': lat,
                   //    'longitude': _long
                   //},
                   success: function (data) {
                      // alert(data);
                   },

               });
           }
           function positionError(position) {
              // alert("oops Error: " + position.code);
           }
       });
    </script>
</body>
</html>

